[Unit]
Description=Modbus-HTTP bridge service
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5
User=root
ExecStart=/usr/local/bin/mbridge -c /etc/mbridge/channels.json -l /etc/mbridge/logger.json -p 8088

[Install]
WantedBy=multi-user.target
